@import "../../../styles/style";
@import "../../../assets/icons.css";

.overlay-toast {
  background:     transparent;
  display:        flex;
  flex-direction: column;
  margin:         0;
  opacity:        0;
  padding:        0;
  position:       relative;
  z-index:        0;

  .evolve-toast {
    background:     $gr-100;
    border-radius:  5px;
    border-right:   4px solid;
    // padding:        10px 10px 5px 10px;
    box-shadow:     0 0 4px 1px transparentize(black, 0.75);
    display:        flex;
    flex-direction: column;
    margin-left:    auto;
    margin-top:     10px;
    max-height:     350px;
    max-width:      300px;
    min-width:      300px;
    position:       relative;
    transition:     box-shadow 0.3s ease-in-out;
    vertical-align: bottom;

    &:hover {
      box-shadow: 0 0 4px 3px transparentize(black, 0.75);
      }

    &.standard-dialog {
      border-color: transparent;
      }

    &.success-dialog {
      background-color: lighten($success, 45%);
      border-color:     $success;
      }

    &.info-dialog {
      background-color: lighten($info, 40%);
      border-color:     $info;
      }

    &.warning-dialog {
      background-color: lighten($warning, 40%);
      border-color:     $warning;
      }

    &.danger-dialog {
      background-color: lighten($danger, 25%);
      border-color:     $danger;
      }

    .close-ico {
      background:    transparentize($black, 0.8);
      border-radius: 50%;
      cursor:        pointer;
      height:        18px;
      position:      absolute;
      right:         6px;
      top:           6px;
      width:         18px;
      }

    div.close-ico::after {
      color:      transparentize($white, 0.5);
      content:    "\d7";
      font-size:  15px;
      left:       5px;
      position:   relative;
      text-align: center;
      top:        -1px;
      }

    .toast-title-content {
      align-items:      flex-start;
      background-clip:  padding-box;
      background-color: transparentize($white, 0.45);
      border-bottom:    1px solid transparentize($black, 0.95);
      border-radius:    5px 5px 0 0;
      color:            $gr-600;
      display:          flex;
      flex-direction:   column;
      height:           auto;
      justify-content:  flex-start;
      padding:          5px 10px 5px;
      width:            auto;

      .toast-title-text {
        font-size: 15px;
        }
      }

    .content-with-icon {

      }

    .content-holder {
      align-items:     center;
      color:           $gr-600;
      display:         flex;
      flex-wrap:       nowrap;
      height:          100%;
      justify-content: space-between;
      overflow:        auto;
      width:           100%;
      /*      display:        flex;
            flex-direction: row-reverse;
            height:         100%;
            overflow:       auto;
            width:          100%;*/

      .icon-section {

        .icon-type-toast {
          font-size: 26px;
          padding:   0 8px;
          }
        }


      .toast-inner-content {
        padding: 10px;
        }

      .text-wrapper p {
        font-size:  14px;
        margin:     0;
        text-align: right;
        }
      }

    .button-holder {
      display:         flex;
      // height:          100%;
      flex-direction:  column;
      justify-content: flex-end;
      width:           100%;

      .button-section {
        //  background: transparentize($gr-100, 0.8);
        // border-top: 1px solid transparentize($gr-200, 0.5);
        margin:  0;
        padding: 4px 10px;
        }
      }

    }
  }
