$primary-color: #ff9e00;
$secondary-color: #d87b20;
$primary-color-text: #ffffff;

$white: #ffffff;
$gr-100: #fbfbfb;
$gr-200: #e9ecef;
$gr-300: #dee2e6;
$gr-400: #ced4da;
$gr-500: #989ea5;
$gr-600: #6c757d;
$gr-700: #495057;
$gr-800: #343a40;
$gr-900: #212529;
$black: #000000;

$blue: #2f8ee5;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #e46464;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #2a9187;
$teal: #20c997;
$cyan: #3caea3;

$primary: $primary-color;
$secondary: $gr-500;
$success: $cyan;
$info: $blue;
$warning: $yellow;
$danger: $red;
$light: $gr-100;
$dark: $gr-800;

$types: (
  'primary': $primary,
  'secondary': $secondary,
  'success': $success,
  'info': $info,
  'warning': $warning,
  'danger': $danger,
  'light': $light,
  'dark': $dark
);
