@import "variables";
@import "buttons";
@import "icons";

.ngx-awesome-popup-overlay {
  align-items: center;
  backdrop-filter: blur(2px);
  background: transparentize(darken($primary-color, 40), 0.6);
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999999999;
}

.evolve-parent-dialog,
.evolve-confirm-box {
  .text-wrapper {
    text-align: center;
  }
}

.evolve-parent-dialog,
.evolve-confirm-box,
.evolve-toast {
  .text-wrapper-section {
    width: 100%;

    .text-wrapper {
      display: block;
      width: 100%;
    }

    .dont-break-out {
      hyphens: auto;
      overflow-wrap: break-word;
      white-space: pre-wrap;
      // word-break: break-all;
      word-wrap: break-word;
    }
  }
}

.evolve-parent-dialog,
.evolve-confirm-box {
  background: $gr-100;
  border-radius: 5px;
  border-top: 7px solid;
  box-shadow: 0 0 4px 1px transparentize(black, 0.75);
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 100px);
  max-width: calc(100vw - 100px);

  position: relative;
  vertical-align: bottom;

  &.standard-dialog {
    border-color: transparent;
    padding: 17px 20px 10px 20px;
  }

  &.success-dialog {
    border-color: $success;
  }

  &.info-dialog {
    border-color: $info;
  }

  &.warning-dialog {
    border-color: $warning;
  }

  &.danger-dialog {
    border-color: $danger;
  }
}

.ap-icon-success {
  color: lighten($success, 10%);
}

.ap-icon-info {
  color: lighten($info, 10%);
}

.ap-icon-warning {
  color: lighten($warning, 10%);
}

.ap-icon-danger {
  color: lighten($danger, 10%);
}
