@import '../../../styles/style';

.evolve-parent-dialog {
  padding: 20px 20px 10px 20px;
  opacity: 0;

  .component-content {
    height: 100%;
    max-width: 95vw;
    transition-delay: 0.4s;
    transition-duration: 0.4s;
    transition-property: opacity;
    transition-timing-function: linear;
    width: 100%;
  }

  .component-content-loader-off {
    opacity: 1 !important;
    transition: none !important;
  }

  .component-content-preparing {
    opacity: 0;
    transition: none !important;
  }

  .component-content-ready {
    height: 100%;
    opacity: 1;
  }

  .dialog-loader {
    opacity: 1;
  }

  .dialog-loader-off {
    display: none;
    opacity: 0 !important;
  }

  .dialog-loader-gone {
    opacity: 0;
    pointer-events: none;
  }

  .dialog-loader-active {
    opacity: 1;
  }
}

.loader-holder {
  align-items: center;
  background: $gr-100;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin: -20px;
  opacity: 1;
  position: absolute;
  transition-delay: 0.4s;
  transition-duration: 0.4s;
  transition-property: opacity;
  transition-timing-function: linear;
  width: 100%;
}

.content-holder {
  display: flex;
  flex-direction: column;
  max-width: calc(100vw - 100px);
  overflow: auto;
}

.button-holder {
  display: flex;
  // height:          100%;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;

  .button-section {
    background: transparentize($gr-300, 0.8);
    border-top: 1px solid transparentize($gr-500, 0.8);
    margin: 20px -20px -10px -20px;
    padding: 5px 20px;
  }
}
